html		{ overflow-y:scroll; }
body		{ padding-top:0px; }

.clickable {
    cursor: pointer;
}

/*VIEW AREA TRANSITIONS*/
.view-area.ng-enter {
  -webkit-transition:all linear .25s;
  -moz-transition:all linear .25s;
  -ms-transition:all linear .25s;
  -o-transition:all linear .25s;
  transition:all linear .25s;
}

.view-area.ng-enter,
.view-area.ng-leave.ng-leave-active {
  opacity:0;
}
.view-area.ng-leave,
.view-area.ng-enter.ng-enter-active {
  opacity:1;
}

